<!--Code to display the header of the application. This code 
   applied to every page in the application.
    -->

<header class="">
    <div class="hero">
        <section class="layout">
            <div class="branding">
                <a href="/"></a>
               <!-- <img src="" alt="logo"> -->
            </div>
        </section>
    </div>
    
    <div class="navigation">
        <section class="layout">
            <ul class="nav">
                <li><a href="/" ><i class="icon-home"></i>Home</a></li>
                <li><a href="/projects" ><i class="fa fa-code"></i>Projects</a></li>
                <li><a href="/services" ><i class="fa fa-cog"></i>Services</a></li>
                <li><a href="/about" ><i class="fa fa-user"></i>About Me</a></li>
                <li><a href="/contact" ><i class="fa fa-envelope-square"></i>Contact</a></li>
            </ul>
        </section>
    </div>
</header>