<!-- template for the Services page of the application-->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/page/head.ejs  %>
</head>

<!-- Body starts here-->

<body class="index">
    <% include partials/page/header.ejs %>
        <div class="container">
            <h1><%= description %></h1>
        </div>
        <section class="layout">
            <div class="primary">                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis corporis, expedita harum? Vitae voluptas molestias repudiandae reprehenderit consectetur ducimus inventore, earum hic ullam optio quam autem deserunt at blanditiis laboriosam?
                </p>               
            </div>
            <aside class="secondary">
                <div>
                    <img src="images/misc/home.png" alt="Image" style="max-width:100%; height: auto;  width: auto\9;">
                </div>
            </aside>
        </section>

        <% include partials/page/footer.ejs %>
        <% include partials/page/jsdefaults.ejs %>

</body>

</html>